@charset "UTF-8";
/*CSS Document*/ 
    
/*----STRUCTURE-----*/

.wrapper {
    width: 960px;
    margin: 0 auto;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.clearFloat {
    clear: both;
}
body {
    font-size: 62.5%;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),  url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),  url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
p {
    font-family: 'montserratregular';
    font-weight: normal;
    font-style: normal;
}
/*Log In*/

.primaryNav {
    font-size: 1.6em;
    font-family: 'montserratbold';
    font-weight: bold;
    font-style: normal;
    color: #fff;
    float: right;
    margin-right: 30px;
}
.primaryNav a:link {
    text-decoration: none;
    list-style: none;
    color: lightgray;
}
.primaryNav li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
}
.primaryNav a:visited {
    color: #000;
}
.group {
    width: 960px; 
    margin: 0 auto; 
    padding-top: 225px;
}
#formTwo {
    width: 100%;
    height: 100vh;
    background-color: #5CAA72;
}
.logInBackground {
    width: 300px;
    margin: 0 auto;
}

.center {
    width: 150px; 
    margin: 0 auto; 
}
.logoLogIn {
    width: 150px;
    height: 80px;
}
.topNav {
    background-color: #5CAA72;
    width: 960px;
    height: 30px;
    padding: 30px 0 30px 0;
}


.logo {
    height: 60px;
    width: 110px;
    margin-left: 25px;
    margin-top: -35px;
}
.edits {
    width: 300px;
    margin: 0 auto;
}

.logIn, .btn-One {
    width: 300px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    margin-top: 10px;
}
.btn-One:hover, .btn:hover {
    opacity: 1;
}
input[type=submit] {
    background-color: #efe1b9;
    color: #5caa72;
    cursor: pointer;
}
.btn-One:hover {
    background-color: #fff;
    color: #85AA92;
}
/*primary nav*/


.primaryNav a:link {
    color: #fff;
}
.primaryNav a:visited {
    color: #fff;
}
/*Structure*/


.topNav {
    background-color: #5CAA72;
    width: 960px;
    height: 30px;
    padding: 30px 0 30px 0;
}

/*leftCol*/

#leftCol {
    width: 300px;
    background-color: #fff;
    height: 500px; /*this should change*/
    float: left;
    border-right: solid 1px lightgray;
}
.dashboard {
    margin-left: 40px;
}
.mainNav {
    font-size: 1.6em;
    font-family: 'montserratregular';
    font-weight: normal;
    font-style: normal;
    color: #000;
}
.mainNav a:link {
    text-decoration: none;
    list-style: none;
    color: #000;
}
.mainNav li {
    display: block;
    margin-top: 20px;
}
.mainNav a:visited {
    color: #000;
}
/*rightCol*/

#chat {
    width: 660px;
    background-color: #fff;
    height: 500px;  /*this should change*/
    float: left;
    display: block;
}
h1 {
    font-size: 2.0em;
    margin: 10px;
    font-family: 'montserratbold';
    font-weight: bold;
    font-style: normal;
}
.contactInfo {
    background-color: #fff;
    height: 80px;
    padding: 15px 0 0 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    float: left;
}
.nameInfo {
    width: 100px;
    float: left;
    margin-left: 20px;
    margin-top: -5px;
}
h2, h3 {
    font-family: 'montserratbold';
    font-weight: bold;
    font-style: normal;
}
h3 {
    margin-top: -10px;
    color: darkgray;
}
.videoCall, .phoneCall, .info {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 30px;
    margin-left: 10px;
}
.contact {
    float: right;
    margin-right: 20px;
}
.profileImgTwo, .profileImgThree {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}
.messages {
    margin-top: 20px;
}
.textBox, .textBoxTwo {
    background-color: #EFE1B9;
    float: left;
    width: 425px;
    padding: 10px 15px 0 15px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 15px;
    font-size: 1.4em;
    line-height: 1.6;
}
#messages {
    list-style: none;
}
#m {
    width: 557px;
    height: 30px;
}
.btn {
    width: 100px;
    height: 30px;
}
.forms {
    margin-top: 30px;
}
footer {
    background-color: lightgray;
    height: 40px;
}
.iconOne, .iconTwo, .iconThree, .iconFour {
    width: 30px;
    height: 30px;
    float: left;
    background-color: #fff;
    border-radius: 30px;
    margin: 5px 0 0 5px;
}
/*calender*/
#calender {
    display: none;
    width: 660px;
    background-color: #fff;
    height: 500px;  /*this should change*/
    float: left;
}
.box {
    width: 300px;
    height: 300px;
    border: 1px solid lightgray;
    margin-left: 10px;
    margin-top: 12px;
    text-align: center;
    float: left;
}
.aboutActivity {
    width: 2750px;
    margin-left: -20px;
    padding-left: -50px;
    margin-top: 20px;
}
.newStyle {
    border-bottom: solid 1px #5caa72;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.activity {
    width: 50px;
    height: 50px;
    float: left;
    background-color: #fff;
    border-radius: 30px;
    margin: 1px 0 0 50px;
}
.activityInfo {
    float: left;
    width: 200px;
    margin-left: 10px;
    text-align: left;
    font-size: 1.6em;
    line-height: 0.3;
    margin-top: 20px;
}
.activityInfo h3, .activitySection h3 {
    color: #000;
}
/*activity*/

#activity {
    display: none;
    width: 660px;
    background-color: #fff;
    height: 500px;  /*this should change*/
    float: left;
}
.activitySection {
    float: left;
    width: 500px;
    margin-left: 10px;
    text-align: left;
    line-height: 0.3;
    margin-top: 20px;
}
.boxForm {
    width: 160px;
    float: left;
}
.radioFloat {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
}
.activityHeader {
    float: left;
    width: 110px;
    font-family: 'montserratbold';
    font-weight: bold;
    font-style: normal;
    font-size: 1.6em;
}
.activityList li {
    display: block;
    height: 75px;
    text-decoration: none;
    list-style: none;
    margin-bottom: -40px;
    font-family: 'montserratregular';
    font-weight: normal;
    font-style: normal;
}
.button {
    width: 100px;
    height: 30px;
    float: right;
    margin-top: 50px;
    background-color: #5caa72;
    border: none;
    border-radius: 8px;
    color: #fff;
}
/*Modal*/

.rightModal {
    text-align: left;
    width: 50px;
    float: left;
    font-size: 1.6em;
}
.rmSpecial {
    padding-top: 2px;
}
.rmSpecialOne {
    padding-top: 5px;
}
.rmSpecialTwo {
    padding-top: 4px;
}
.leftModal {
    width: 200px;
    float: left;
    margin-top: -20px;
    margin-left: 50px;
    font-size: 1.6em;
}
/*dashboard activites*/

#activityOne {
    width: 660px;
    background-color: #fff;
    height: 500px;  /*this should change*/
    float: left;
}
.radioFloatTwo {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 15px;
}
.bookIt {
    margin-left: 10px;
}
.formStyles {
    font-size: 1.6em;
    margin: 20px 0 0 0;
    display: block;
    color: #000;
    font-family: 'montserratbold';
    font-weight: bold;
    font-style: normal;
    width: 75px;
}
/*note the selector syntax for input fields*/
input[type="date"] {
    width: 220xp;
    margin: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    border: 2px solid lightgray;
}
input[type="text"] {
    border: 2px solid lightgray;
    height: 40px;
    width: 310px;
    margin: 5px 0 0 0;
    padding-left: 10px;
    font-size: 1.6em;
    color: #333333;
}
.buttonOne {
    width: 100px;
    height: 30px;
    margin-top: 50px;
    background-color: #5caa72;
    border: none;
    border-radius: 8px;
    color: #fff;
}
.submit {
    width: 250px;
    margin: 0 auto;
    float: none;
}
.finalActivity {
    float: left;
    width: 110px;
    font-family: 'montserratbold';
    font-weight: bold;
    font-style: normal;
}
.buttonStyle {
    margin: 0 10px 0 10px;
}

#submitBtn {
    color: #fff;
    text-decoration: none;
}